<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capital_City_Fire.Properties.Settings.capcityConn"
            connectionString="server=34.105.28.125;user id=capitalcityfire;password=nanyakdala;persistsecurityinfo=True;database=Capcity"
            providerName="MySql.Data.MySqlClient" />
        <add name="Capital_City_Fire.Properties.Settings.CapcityConnectionString"
            connectionString="server=34.105.28.125;user id=capitalcityfire;persistsecurityinfo=True;database=Capcity;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>